@font-face {
    font-family: 'Citrsoen';
    src: url('fonts/Citroen.woff2') format('woff2'),
        url('fonts/Citroen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Citroen';
    src: url('fonts/Citroen-Bold.woff2') format('woff2'),
        url('fonts/Citroen-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}